<div class="col-md-6">
  <div id="menu">
    <div class="panel list-group">
      <% @menu_items.each do |menu_item| %>
        <a href="#" class="list-group-item" data-toggle="collapse" data-target="#<%= menu_item.name.downcase %>" data-parent="#menu">
          <strong><%= menu_item.name %></strong>
        </a>
        <div id="<%= menu_item.name.downcase %>" class="sublinks collapse">
          <% menu_item.food_items.each do |food_item| %>
            <a href="<%= show_food_path(food_item.id) %>" class="list-group-item small">
              <input type="hidden" value="<%= food_item.id %>"/>
              <span class="glyphicon glyphicon-chevron-right"></span> <%= food_item.name %>
              <span class="badge pull-right"><%= food_item.price %> VND</span>
            </a>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
