<div class="col-md-8">
  <div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Thank you for your order page</h3>
      </div>
      <div class="panel-content">
        <br/>
        <ul>
          <li>Name: <%= @order.name %></li>
          <li>Phone: <%= @order.phone %></li>
          <li>Address: <%= @order.address %></li>
          <li>Food Item: <%= @order.food_item.name %></li>
          <li>Process Date: <%= Time.now.strftime('%A, %B %e, %H:%M') %></li>
        </ul>
        <br/>
      </div>
      <div class="panel-footer text-center">
        <p><strong>Total: </strong><%= @order.food_item.price %></p>
      </div>
    </div>
  </div>
</div>
